# Dependency directories
node_modules

# Visual Studio Code settings
vscode/

# OS-specific files
.DS_Store

# TypeScript build output
dist/

# Build artifacts
*.js
*.js.map
*.d.ts
*.d.ts.map
*.css.map 

# Sensitive files
.env
